.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-grey-light);
}
.description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    background-color: white;
    padding: 3rem;
    box-shadow: var(--shadow-light);
    font-size: 1.4rem;
}

.user-reviews {
    flex: 1;
}