.btn {
    padding: 2rem 5rem;
    border-radius: 100rem;
    background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    overflow: hidden;
    position: relative;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    &__text {
        display: block;
        transition: var(--transition);
        &--active {
            transform: translateY(-200%);
        }
        &--inactive {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &:hover &__text,
    &:focus &__text {
        &--active {
            transform: translateY(0%);
        }
        &--inactive {
            transform: translate(-50%, 150%);
        }
    }
}