.list {
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--border-grey-light);
    border-bottom: var(--border-grey-light);
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex-basis: 50%;
        margin-bottom: .7rem;
        
        &::before {
            content: "";
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: .7rem;
            mask-image: url("../img/chevron-thin-right.svg");
                -webkit-mask-image: url("../img/chevron-thin-right.svg");
            mask-size: cover;
                -webkit-mask-size: cover;
            background-color: var(--color-primary);
            
            @supports not (
                (
                    (background-color: var(--color-primary)) and 
                    (mask-image: url("../img/chevron-thin-right.svg"))
                ) or
                (
                    (-webkit-mask-image: url("../img/chevron-thin-right.svg")) and 
                    (-webkit-mask-size: cover)
                )
            ) {
                    background-image: url("../img/chevron-thin-right.svg");
                    background-size: cover;
            }
        }
    }
}