.recommend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    &__friends {
        display: flex;
    }
    &__friend {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        overflow: hidden;
        border: .3rem solid #fff;
        box-sizing: content-box;
        &:not(last-of-type) {
            margin-right: -1.5rem;
        }
    }
    &__photo {
        width: 100%;
    }
}