.search {
    flex: 0 0 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond($breakpoint-smallest) {
        order: 2;
        flex: 1 0 90%;
        justify-self: center;
        margin-top: 2rem;
    }

    &:focus-within &__input{
        width: 100%;
        background-color: var(--color-grey-light-3);
    }
    &__input {
        background-color: var(--color-grey-light-2);
        padding: .7rem 2rem;
        border-radius: 10rem;
        margin-right: -3.25rem;
        width: 90%;
        transition: var(--transition);

        &::placeholder,
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }
    &__btn {
        transition: var(--transition);
        &:hover,
        &:focus {
            color: var(--color-grey-dark-1);
            filter: drop-shadow(0 .2rem .1rem rgba(0,0,0,0.2));
        }
        &:active {
            transform: translateY(.2rem);
            filter: drop-shadow(0 .2rem .1rem rgba(0,0,0,0));

        }
    }
    &__icon {
        @include svg-size(2rem, currentColor);
    }

}