.side-nav {
    font-size: 1.4rem;
    margin-top: 3.5rem;
    @include respond($breakpoint-medium) {
        margin: 0;
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: .5rem;
            @include respond($breakpoint-medium) {
                margin: 0;
            }
        }
        @include respond($breakpoint-medium) {
            flex: 1;
        }
    }
    %apply-z-index {
        position: relative;
        z-index: 1;
    }
    &__link {
        &:link,
        &:visited {
            color: var(--color-grey-light-1);
            text-transform: uppercase;
            display: block;
            padding: 1.5rem 3rem;
            transition: var(--transition);
            position: relative;
            @include respond($breakpoint-small) {
                text-align: center;
                padding: 1.5rem 0;
            }
            
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: .3rem;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform .2s, 
                        width .4s cubic-bezier(1, 0, 0, 1) .2s,
                        background-color  .1s;
        }
        &--active,
        &:hover,
        &:focus {
            &::before {
                transform: scaleY(1);
                width: 100%;
            }
        }
        &:active::before {
            background-color: var(--color-primary-light)
        }
        &-text {
            @extend %apply-z-index;
        }
    }
    &__icon {
        @include svg-size(1.75rem, currentColor);
        margin-right: 2rem;
        vertical-align: middle;
        @extend %apply-z-index;
        @include respond($breakpoint-small) {
            display: block;
            margin: 0 auto .7rem;
            @include svg-size(1.5rem, currentColor);
        }
    }
}