html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem == 10pxs
    @include respond($breakpoint-large) {
        font-size: 50%; //1rem == 8pxs
    }
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    min-height: 100vh;
}
ul, ol {
    list-style: none;
}
%clear-border-and-decoration {
    outline: none;
    border: none;
    font: inherit;
    color: inherit;
    text-decoration: none;
}
a {
    &:link,
    &:visited {
        @extend %clear-border-and-decoration;
    }
}
button {
        @extend %clear-border-and-decoration;
        cursor: pointer;
    background: none;
}
input {
    @extend %clear-border-and-decoration;
    
}